In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("~/Github/csv/top_25_games.csv")

## Verify the data imported correctly

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          25 non-null     object
 1   platform      25 non-null     object
 2   release_date  25 non-null     object
 3   summary       25 non-null     object
 4   meta_score    25 non-null     int64
 5   user_review   25 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB

In [5]:
df.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,23-Nov-98,"As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,29-Apr-08,[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,08-Sep-99,"This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,29-Apr-08,[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

## Check for missing values

In [6]:
df.isna().sum()

name            0
platform        0
release_date    0
summary         0
meta_score      0
user_review     0
dtype: int64

## Change "release_date" object into a pandas date

In [7]:
pd.to_datetime(df['release_date'], dayfirst=True).head()

0   1998-11-23
1   2000-09-20
2   2008-04-29
3   1999-09-08
4   2008-04-29
Name: release_date, dtype: datetime64[ns]

In [8]:
df['release_date'] = pd.to_datetime(df['release_date'], dayfirst=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          25 non-null     object
 1   platform      25 non-null     object
 2   release_date  25 non-null     datetime64[ns]
 3   summary       25 non-null     object
 4   meta_score    25 non-null     int64
 5   user_review   25 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.3+ KB

In [30]:
## Group the data by year 
df.groupby(by='release_date').size()

release_date
1998-11-23    1
1999-09-08    1
2000-05-22    1
2000-09-07    1
2000-09-20    1
2000-11-06    1
2001-10-22    1
2001-10-28    1
2001-11-14    1
2002-11-17    1
2004-11-16    1
2007-11-12    1
2008-04-29    2
2010-05-23    1
2013-09-17    2
2014-11-18    2
2017-03-03    1
2017-10-27    1
2018-10-26    2
2021-03-30    1
2021-04-09    1
dtype: int64