Principal Component Analysis (PCA)

In [2]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.decomposition import PCA

Create a range of 100 genes and a range of 5 wt and ko

In [3]:
genes = ['gene ' + str(i) for i in range(1,101)]
wt = ['wt ' + str(i) for i in range(1,6)]
ko = ['ko ' + str(i) for i in range(1,6)]

In [4]:
genes

['gene 1',
 'gene 2',
 'gene 3',
 'gene 4',
 'gene 5',
 'gene 6',
 'gene 7',
 'gene 8',
 'gene 9',
 'gene 10',
 'gene 11',
 'gene 12',
 'gene 13',
 'gene 14',
 'gene 15',
 'gene 16',
 'gene 17',
 'gene 18',
 'gene 19',
 'gene 20',
 'gene 21',
 'gene 22',
 'gene 23',
 'gene 24',
 'gene 25',
 'gene 26',
 'gene 27',
 'gene 28',
 'gene 29',
 'gene 30',
 'gene 31',
 'gene 32',
 'gene 33',
 'gene 34',
 'gene 35',
 'gene 36',
 'gene 37',
 'gene 38',
 'gene 39',
 'gene 40',
 'gene 41',
 'gene 42',
 'gene 43',
 'gene 44',
 'gene 45',
 'gene 46',
 'gene 47',
 'gene 48',
 'gene 49',
 'gene 50',
 'gene 51',
 'gene 52',
 'gene 53',
 'gene 54',
 'gene 55',
 'gene 56',
 'gene 57',
 'gene 58',
 'gene 59',
 'gene 60',
 'gene 61',
 'gene 62',
 'gene 63',
 'gene 64',
 'gene 65',
 'gene 66',
 'gene 67',
 'gene 68',
 'gene 69',
 'gene 70',
 'gene 71',
 'gene 72',
 'gene 73',
 'gene 74',
 'gene 75',
 'gene 76',
 'gene 77',
 'gene 78',
 'gene 79',
 'gene 80',
 'gene 81',
 'gene 82',
 'gene 83',
 'gene 84',
 'gene 85',
 'gene 86',
 'gene 87',
 'gene 88',
 'gene 89',
 'gene 90',
 'gene 91',
 'gene 92',
 'gene 93',
 'gene 94',
 'gene 95',
 'gene 96',
 'gene 97',
 'gene 98',
 'gene 99',
 'gene 100']

In [5]:
wt

['wt 1', 'wt 2', 'wt 3', 'wt 4', 'wt 5']

In [6]:
ko

['ko 1', 'ko 2', 'ko 3', 'ko 4', 'ko 5']

Make the columns wt and ko
Make the index genes

In [7]:
data = pd.DataFrame(columns=[*wt, *ko], index=genes)

In [8]:
data.head()

       wt 1 wt 2 wt 3 wt 4 wt 5 ko 1 ko 2 ko 3 ko 4 ko 5
gene 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene 2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene 3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene 4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene 5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [9]:
for gene in data.index:
    data.loc[gene, 'wt 1' : 'wt 5'] = np.random.poisson(lam=rd.randrange(10,100), size=5)
    data.loc[gene, 'ko 1' : 'ko 5'] = np.random.poisson(lam=rd.randrange(10,100), size=5)

In [10]:
data.head()

       wt 1 wt 2 wt 3 wt 4 wt 5 ko 1 ko 2 ko 3 ko 4 ko 5
gene 1   88   83   74   78   73   22   23   19   25   22
gene 2   45   48   54   53   61   89   79   70   64   77
gene 3   10   20   16   15   12   33   28   28   27   29
gene 4   81   85   83   82   80   28   28   29   37   32
gene 5   60   46   68   60   80    6   18   10   13   10

In [11]:
print(data.shape)

(100, 10)

In [12]:
data.head()

       wt 1 wt 2 wt 3 wt 4 wt 5 ko 1 ko 2 ko 3 ko 4 ko 5
gene 1   88   83   74   78   73   22   23   19   25   22
gene 2   45   48   54   53   61   89   79   70   64   77
gene 3   10   20   16   15   12   33   28   28   27   29
gene 4   81   85   83   82   80   28   28   29   37   32
gene 5   60   46   68   60   80    6   18   10   13   10

In [13]:
scaled_data = preprocessing.scale(data.T)

In [14]:
print(scaled_data)

[[ 1.2946941  -1.37767997 -1.52388149  0.94803991  0.84728271  1.19878056
  -1.36410455  1.19220189  0.3614194   0.69995679  1.42167564  1.26139054
  -0.99283466  1.27802391 -1.00738975 -0.77488969 -0.6648225   0.25841384
  -1.24244674 -0.67973321 -1.16178505 -0.54060235 -0.62780854  2.41574002
   0.58111856 -0.98383265 -0.9592703   0.98121403  1.05112389 -0.67262657
   1.77041719  1.47849781  0.35654729  1.4069082   0.39631199  0.65478146
   0.60494569  1.26595494 -1.76417759  0.36077573  0.84454839  0.09805807
   0.88106129 -1.07413417  1.02678459 -1.51739999 -1.12991483 -0.28514907
   1.37669759 -0.9226482   1.42231934 -0.58584716 -0.82005991  1.50119477
  -0.57995237  0.89970916 -0.88332031 -1.2150965   1.21298497  1.122778
  -0.73430379 -0.34774375  1.44418837 -1.46064198  1.04277449 -1.21016654
   1.30291834 -0.75194452 -0.32729207 -0.76883162  0.13927901  1.2286881
  -0.8760617  -0.85578554 -1.03897343  0.42008403 -0.25444155  1.17993609
   1.30802052  0.98010077  0.38222273 -0.35058597  1.26104078  1.03734763
  -0.95961773 -0.530557    1.48324934  0.19478945 -0.43189607  1.31808118
  -0.92198646  0.30185031  1.38146661 -0.73730873 -1.12653287 -0.79164019
   1.16404551  0.65957447 -1.11156656  2.50688707]
 [ 1.12114261 -1.16015155 -0.2324565   1.10282193  0.32929328  1.10656667
  -0.98964448  1.28510074  0.71402369 -0.63329424  0.67900926  0.75313794
  -0.99283466  0.33830045 -1.36557278 -1.44870681 -0.83102812  1.73506433
  -0.32211582  0.18801131 -0.26117648 -1.38037299 -0.46683199  0.29201253
  -1.25399269 -1.43790926 -0.49133357  0.76508759  1.59294033 -0.40885145
   1.19931487  1.11788859  1.7148227  -1.5865135   1.05683199  0.7630098
   0.60494569  0.88805794  0.3872585   0.95445731  1.0505358  -0.02451452
   0.95298466 -0.60302269  0.94698268 -0.36285652 -0.50218437  1.61584475
   0.82485679 -0.99501277  1.07876394 -1.08156399 -0.290989    1.12018087
  -1.21158367  0.68133315 -1.13569755  0.84622792  0.21873499  0.96897279
   0.92046531 -0.72368293  0.7098553  -1.14986709 -1.19174228  0.06369298
   0.45751331 -1.33787531  1.11888218  0.01303104 -1.39279008  1.08413656
  -1.14561915 -0.98256859 -1.11679915  0.53677403  0.67080045  1.08477996
   0.76991081  1.18375807  0.87365196  1.19199229  0.6198336   1.09403329
  -2.23140027 -1.14273816  1.48324934  0.54895208 -0.76412382  0.96814813
   0.84515425  1.08442519  0.82442362  0.08192319 -1.05523332 -1.05303081
   1.9532289   0.0212766  -1.24442312  0.18569534]
 [ 0.80874993 -0.72509472 -0.7490265   1.02543092  1.14327667  0.829925
  -0.40120722  0.66577508 -0.43194025  0.69995679  0.14853328  0.89175228
  -0.35911041  0.80816218 -0.73875249 -0.21337542 -0.33241125  0.81215777
   0.253091   -1.11360546 -0.26117648 -1.01297334 -0.54732026  1.08841034
  -0.13253581 -0.83247378  0.75649771  0.89476345  0.61767074 -1.20017683
  -0.05711023 -0.05409138  0.35654729 -0.53881591  1.4124966   1.30415151
   1.25642567 -0.43458155 -1.04703223  1.27413201  1.15352951  1.20121133
   1.13279309 -0.13191121  1.15978778 -0.85766086  1.17176353  0.66534784
   0.53441426 -1.03119505  1.01005286 -0.76610783  1.29622372  0.96777531
  -1.26900469  1.03073477 -0.50475447 -0.23867967  1.31240997  0.69981368
   0.71361917  0.9680434  -1.7379216  -1.46064198 -0.26069362 -0.57323678
   0.30832419 -0.89842722 -0.47952094  2.48892947 -1.25351107  0.67939224
  -0.47172553 -1.23613467 -0.9611477   1.29525908 -1.87361506 -0.24740596
   1.18384136  0.80190063  0.98285845  1.33222668  0.40609788  0.58386233
   0.3121648  -1.04070797  0.58612272  0.37187076 -1.76080706  0.55989289
   0.69148984  1.69930546  0.69073331 -2.10269526 -0.98393377 -1.46378751
  -0.01972958 -0.82978723 -1.02299552 -0.97490053]
 [ 0.94759113 -0.79760419 -0.878169    0.98673541  0.84728271  0.50717639
  -1.25711596  1.00640419  1.41923226 -0.41108574  0.99729486  0.79934272
  -1.41531749  1.27802391 -1.00738975 -1.44870681  0.33241125  1.18132039
  -1.12740538 -0.39048503 -0.98166334 -0.54060235 -1.11073818  0.02654659
  -0.94814081 -1.13519152 -1.50519648  1.67281863  0.72603403 -0.80451414
   0.28555116  0.03606092 -1.51108139  1.55657928  1.00602276  1.30415151
   0.41880856  0.69910945  0.10040035  1.18279638  0.81021716  1.69150167
   0.88106129 -1.35680105  1.00018396  0.13194782  0.33478958  1.1405963
   1.14434357 -1.10355961  0.59778639 -0.72104266 -2.14273718  0.12954473
  -1.32642572  0.76868356 -0.25237723 -1.2150965   0.41758499  1.1612293
   0.81704224  0.12218024 -0.51403315 -0.03107749  1.41519395 -1.0509341
   1.25318863 -1.04490992  1.19499662  0.40396237 -1.25351107  1.17086749
  -1.28039787 -0.41204489 -0.92223484  0.42008403 -0.94837305  1.08477996
   0.6043386   0.92918644  1.09206494  1.19199229  1.4747765   1.26409028
  -0.26591817 -0.88766268  0.88516493  1.61143997  0.3986733   1.14311465
   0.76832205  0.63723955  1.00267738 -0.73730873 -0.8056849  -0.71695715
   0.57215796  1.29787234 -0.66871136  0.64993368]
 [ 0.77403964 -0.21752842 -1.2655965   0.9093444   1.58726761  1.2448875
  -0.61518441  0.75867393  1.41923226  0.36664404 -0.16975232  1.21518575
  -0.14786899  0.80816218 -0.33579658  0.68504741 -1.32964499  0.38146804
  -1.12740538 -1.8367259  -1.25184591 -1.01297334 -1.27171473 -0.10618637
   1.60062481  0.2270383   0.36655044  0.46251058  0.83439732 -1.06828927
   0.05711023  1.38834551  0.35654729  0.20953952  0.85359507  0.81712397
   1.25642567  1.64385194 -0.18645779  1.00012513  1.08486704 -0.26965969
   1.0968314  -0.13191121  0.84058013 -0.85766086  1.17176353  0.66534784
   0.9991223  -0.9226482   0.73520855 -1.35195499 -0.02645355  0.89157253
  -0.23542621  1.46748679 -0.50475447 -1.64905954  0.71585998  1.00742409
   1.33415759  2.18984576  1.44418837 -0.15538744  0.67035503 -1.36939897
   1.30291834 -0.55663425  1.95614096  0.66458326 -0.69639504  0.76612317
  -0.20216809 -1.2995262  -0.84440912  1.82036411 -0.3700968   1.17993609
   0.97687609  1.08192942  1.41968443  0.49082036  0.6198336   0.52717666
  -0.26591817 -1.14273816 -0.13157857  1.08019603 -0.09966832  0.90982595
   1.99763733  0.86083237  1.0249591   0.90115511 -0.948284   -0.79164019
  -0.01972958 -1.89361702 -0.80156792  0.18569534]
 [-0.99618554  1.8127368   1.44639599 -1.10282193 -1.15067652 -0.92213889
   1.47109314 -0.97543791 -1.2252999  -1.96654528 -0.8063235  -1.23366767
   0.48585526 -1.16525709  1.85807444  0.01123029  0.         -0.66449272
   0.02300827  0.18801131  0.1891278   0.1417113   0.25756248 -0.63711825
  -1.66179519  0.52975604  0.36655044 -1.05037449 -0.89941529  0.38247393
   0.1713307   0.03606092  0.35654729 -0.83815808 -0.67068184 -0.96864365
  -1.53563137 -0.62353005  1.10440386 -1.10059432 -0.73468844 -0.39223227
  -0.98894634 -0.13191121 -0.91506192  0.13194782  0.33478958 -1.59208233
  -1.09206391  1.13974189 -0.98256843  1.30688982  1.29622372 -0.9372942
   0.56846817 -1.02199973  0.          0.41226488  0.51700999 -0.91514097
  -0.73430379 -0.06578936 -0.02447777  1.27417704 -0.07448389  1.01908761
  -0.43762143  1.15233056 -0.70786424  0.14334149  0.76603454 -1.02631594
   0.47172553  1.10935163  1.37362405 -1.15523107  1.71169771 -0.72318664
  -1.38252802 -1.00555793 -0.65523897  0.07011719 -1.51752365 -1.06002189
   1.58394734  0.43872983 -0.13157857 -1.57602371  1.22924266 -0.86900043
  -0.23049661 -1.31919766 -0.9135505   1.44730973  1.36895133  0.66467902
  -1.00620883 -0.82978723  0.79271082  0.18569534]
 [-0.96147524  1.08764208  0.8006835  -1.10282193 -0.70668558 -0.92213889
   0.50819581 -0.91350535 -1.84235741  0.58885254  0.99729486 -0.86402941
   0.90833809  0.05638341  0.96261688 -0.21337542  2.32687873 -0.66449272
   2.2087942  -0.10123686  1.99034493  1.55882426  1.70635141 -0.76985122
  -0.03058519  0.68111491  1.22443444 -1.05037449 -0.95359693  1.9651247
  -0.85665348 -0.86546214 -0.66215926  0.50888169 -1.17877414 -0.96864365
  -0.04653428 -1.00142704 -1.1904613  -0.82658743 -1.14666326  0.83349357
  -1.20471646  1.75253469 -1.12786702  2.27609998 -1.96688878 -0.04752485
  -0.9177984   0.85028364 -0.91385735  0.81117299 -0.290989   -1.01349698
   0.91299433 -0.97832453  2.01901786  0.73773716 -1.17321497 -1.03049488
  -1.04457299  0.59210422 -1.24836622  0.34185238  0.11172584  1.49678492
  -0.98464821  1.49412353 -0.70786424 -0.63852117  0.41783702 -0.96849533
   1.4151766   1.23613467  0.75101825 -1.21357607  0.67080045 -0.15224982
  -0.92720442 -1.05647226 -1.0374617  -1.19199229 -0.66258075  0.07369136
   0.08093162  0.64279022 -1.14832207 -1.39894239 -0.09966832 -1.13145022
  -1.22931528 -0.59252098 -0.9135505  -0.19115411  0.94115404  1.07543572
  -1.00620883  0.65957447  0.9698529  -0.51066218]
 [-1.10031643  0.43505683  0.8006835  -1.06412643 -1.00267954 -1.15267361
   1.25711596 -0.88253906  0.18511725 -0.29998148 -1.54898988 -1.00264376
  -0.35911041 -0.88334005  0.87307112  0.57274455 -0.6648225  -1.71045348
   0.5982151   1.20037992  0.36924951  1.24391026 -0.38634372 -0.50438528
   0.37721731  1.28655039 -1.27122812 -0.74779747 -0.95359693 -0.14507632
  -1.54197627 -1.67683289 -1.85065024 -1.13750025 -0.46744492 -1.07687199
  -0.41880856 -0.43458155  0.67411664 -0.64391618 -1.04366956 -1.86310328
  -0.66529118 -0.50880039 -1.10126638  0.46181739  1.17176353 -0.64158542
  -1.06301966  1.03119505 -1.32612383  0.63091233 -0.290989   -1.24210532
   1.42978357 -1.28405094 -0.37856585  1.60566324 -1.86918996 -0.91514097
   1.02388838 -0.34774375  0.46507761  0.71478224 -1.56416174 -0.2547719
  -1.33275616  1.103503   -0.78397867 -1.0294525   0.97495306 -1.11304687
  -0.33694681  0.47543641  0.55645393 -0.80516105 -0.71706255 -1.38927959
  -0.7616322  -0.95464361 -1.41968443 -1.19199229 -1.51752365 -1.28676454
   1.00586437  1.51004686 -1.20813051 -0.51353582 -0.43189607 -0.89816151
  -0.69148984 -1.20740125 -0.95811394  1.17423242  1.08375314  0.70202054
  -1.40080053 -0.19148936  0.79271082 -0.97490053]
 [-0.89205465  0.          0.671541   -0.75456238 -0.89168181 -0.829925
   0.88265589 -0.91350535 -0.43194025  1.81099932 -0.16975232 -0.9102342
   1.96454518 -1.25922944  0.29102371  1.80807594  0.99723374 -0.78754693
   0.71325646  1.345004    0.00900609  0.40413962  1.46488659 -0.90258418
   0.17331606  0.07567943 -0.10138629 -1.05037449 -1.22450515  1.30568688
   0.39977162 -0.68515752  0.35654729  0.65855277 -1.07715568 -1.2392145
  -1.81483707 -0.43458155  1.53469107 -1.42026901 -0.87201338 -1.12766778
  -1.0968314   1.75253469 -0.91506192  0.79168695 -0.0836974  -0.04752485
  -0.77257713  0.85028364 -0.70772412  0.09013033  0.23808191 -0.32767195
   1.08525741 -0.62892291 -0.12618862  0.30377413 -0.77551498 -1.10739748
  -0.73430379 -1.5695461  -0.02447777  0.59047229  1.04277449  0.70062273
  -1.08410763  0.8105376  -1.24066528 -1.0294525   1.32315058 -0.85285409
   1.81951277  0.98256859  1.10123401 -0.51343603  0.0925242  -1.38927959
  -0.72023915 -0.95464361 -0.98285845 -1.47246107 -0.2351093  -1.45682153
   0.54339799  1.20395628 -0.84927987  0.54895208 -0.09966832 -1.13145022
  -0.0768322  -0.92791022 -1.11408598  0.3550005   0.79855495  1.00075269
  -0.61161713  1.5106383   0.79271082 -0.27854301]
 [-0.99618554  0.94262314  0.929826   -0.94803991 -1.00267954 -1.06045973
   0.50819581 -1.22316818 -0.16748704 -0.85550275 -1.54898988 -0.9102342
   0.90833809 -1.25922944  0.47011522  1.02195597  0.16620562 -0.54143851
   0.02300827  1.20037992  1.35991894  1.13893893  0.98195694 -0.90258418
   1.29477294  1.58926813  1.61438172 -0.87747334 -0.791052    0.64624906
  -1.4277558  -0.77530983  0.52633172 -0.23947374 -1.33120183 -0.58984446
  -0.32573999 -1.56827254  0.3872585  -0.78091962 -1.14666326 -0.1470871
  -0.98894634  0.43342256 -0.91506192 -0.19792174 -0.50218437 -1.47327022
  -1.03397541  1.10355961 -0.91385735  1.66741115  1.03168827 -1.08969976
   0.62588919 -0.93464932  1.76664063  0.41226488 -0.57666499 -0.99204357
  -1.56168834 -0.81766773 -0.51403315  1.33633202 -1.19174228  1.17832005
  -0.78572938  0.02929654 -0.02283433 -0.24758984  0.97495306 -0.96849533
   0.60650426  0.98256859  1.10123401 -0.80516105  1.0177662  -0.6280305
  -1.05138359 -1.00555793 -0.65523897 -0.07011719 -0.44884502 -0.77659358
   0.19654821  0.9488808  -0.96889675 -0.86769845  2.05981203 -0.86900043
  -1.15248307 -0.53662278 -1.0249591  -0.19115411  0.7272554   1.37416787
   0.37486211 -0.40425532  1.50127914 -0.97490053]]

In [15]:
pca = PCA()
pca.fit(scaled_data)
pca_data = pca.transform(scaled_data)

In [16]:
pca_data

array([[ 8.65335581e+00,  3.30196254e+00, -3.48594083e+00,
        -9.23932995e-02,  1.91338104e+00, -2.75407749e-01,
         3.25242950e+00, -2.02887175e-01,  2.93954648e-02,
         2.17881269e-15],
       [ 8.15810824e+00, -4.08756619e-02, -4.46834071e-01,
         4.27892627e+00, -1.89011016e+00, -2.23449795e+00,
        -1.54523549e+00, -1.56908969e+00, -9.67620962e-01,
        -2.48499138e-16],
       [ 7.22458272e+00, -1.06253805e+00,  5.36727047e+00,
        -9.65633349e-01, -7.28305131e-01, -1.84973251e+00,
         1.69179311e+00,  1.45951296e+00,  9.30302332e-01,
         4.26741975e-16],
       [ 8.30200686e+00,  1.38560707e+00, -9.93621902e-01,
        -8.07166008e-01, -2.71706852e+00,  3.58521616e+00,
        -1.62409515e+00,  1.24335782e+00,  1.41328520e+00,
         6.83481050e-16],
       [ 7.98549582e+00, -3.63568019e+00,  1.57283496e-01,
        -2.44765772e+00,  3.42294952e+00,  7.59341840e-01,
        -1.76820773e+00, -9.77308913e-01, -1.39484905e+00,
        -2.41950557e-15],
       [-7.88937590e+00, -2.19988589e+00, -5.12011287e-01,
         3.31671445e+00,  1.34988946e+00,  1.27308876e+00,
         4.86299571e-01,  3.17268203e+00, -1.12804807e+00,
        -1.51354623e-16],
       [-8.50403068e+00,  4.88316826e+00,  2.90540521e+00,
        -8.96472852e-01, -3.04787899e-01,  1.17892872e+00,
        -1.71156289e-01, -1.01854601e+00, -2.37937137e+00,
         2.43294968e-15],
       [-7.86047069e+00, -4.00793548e+00, -2.05485899e+00,
        -2.01182614e+00, -3.36362703e+00, -1.08576075e-01,
         1.80302079e+00, -1.25568948e+00, -6.11772711e-01,
        -1.37043155e-15],
       [-7.73453903e+00,  1.83725307e+00, -2.10494890e+00,
        -2.12695503e+00,  4.72462315e-01, -3.40217315e+00,
        -2.18897527e+00,  1.48294052e+00,  1.04516985e+00,
        -6.05418493e-16],
       [-8.33513314e+00, -4.61075676e-01,  1.16825680e+00,
         1.75246368e+00,  1.84521640e+00,  1.07381196e+00,
         6.41269674e-02, -2.33497207e+00,  3.06350932e+00,
         8.32667268e-16]])

In [17]:
per_var = np.round(pca.explained_variance_ratio_* 100, decimals=1)
labels = ['PC ' + str(x) for x in range(1, len(per_var)+1)]

In [18]:
per_var

array([65.2,  7.6,  6.1,  4.9,  4.4,  3.8,  3. ,  2.7,  2.4,  0. ])

In [19]:
labels

['PC 1',
 'PC 2',
 'PC 3',
 'PC 4',
 'PC 5',
 'PC 6',
 'PC 7',
 'PC 8',
 'PC 9',
 'PC 10']