In [3]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.decomposition import PCA

### Create a range of 100 genes and a range of 5 wt and ko

In [4]:
genes = ['gene' + str(i) for i in range(1,101)]
wt = ['wt' + str(i) for i in range(1,6)]
ko = ['ko' + str(i) for i in range(1,6)]

### Make the columns wt and ko
### Make the index genes

In [5]:
data = pd.DataFrame(columns=[*wt, *ko], index=genes)

In [6]:
for gene in data.index:
    data.loc[gene, 'wt1' : 'wt5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)
    data.loc[gene, 'ko1' : 'ko5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)

In [7]:
print(data.head())

       wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1  198  208  172  183  179  903  918  943  904  917
gene2  641  587  656  601  614  648  594  681  641  618
gene3  646  627  596  647  636  575  583  580  534  566
gene4   20   21   16   15   18  458  451  456  434  476
gene5  381  437  410  433  419  775  737  725  772  726

In [8]:
print(data.shape)

(100, 10)

In [9]:
data

         wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1    198  208  172  183  179  903  918  943  904  917
gene2    641  587  656  601  614  648  594  681  641  618
gene3    646  627  596  647  636  575  583  580  534  566
gene4     20   21   16   15   18  458  451  456  434  476
gene5    381  437  410  433  419  775  737  725  772  726
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
gene96   165  160  143  156  154  422  418  405  379  422
gene97   411  440  439  443  445  418  370  396  386  339
gene98   451  445  451  395  421  621  662  667  618  655
gene99   234  182  193  188  203  297  338  313  333  310
gene100  792  787  836  833  803  589  626  563  579  550

[100 rows x 10 columns]

In [10]:
scaled_data = preprocessing.scale(data.T)

In [11]:
pca = PCA()
pca.fit(scaled_data)
pca_data = pca.transform(scaled_data)

In [12]:
per_var = np.round(pca.explained_variance_ratio_* 100, decimals=1)
labels = ['PC' + str(x) for x in range(1, len(per_var)+1)]

In [13]:
plt.bar(x=range(1, len(per_var)+1), height=per_var, tick_label=labels)
plt.ylabel('Percentage of Explainded Variance')
plt.xlabel('Principal Component')
plt.title('Scree Plot')
plt.show()